html {
    background-color: #111;
    padding: 0;
    border: 0;
    user-select: none;
}

body {
    font-family: 'Guardian Sans', sans-serif;
}

.icon {
    font-family: "Guardian Icons";
}

.headline {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 75;
    @include fs-headline();
    color: $c-brand;
    margin-bottom: 24px;

    @include mq(phablet) {
        margin-bottom: 102px;
    }
}

.headline__lead-in {
    @include fs-large();
    display: block;
    color: $c-white;
}

.credit {
    color: #676767;
    max-width: 620px;
    margin: 0 auto;
    line-height: 20px;
    margin-bottom: 32px;
    padding: 0 10px;

    @include mq(phablet) {
        padding: 0;
    }
}
