html {
    background-color: darken($c-black, 10%);
    padding: 0;
    border: 0;
    user-select: none;
}

body {
    font-family: 'Guardian Sans', sans-serif;
}

.icon {
    font-family: "Guardian Icons";
}
