.button {
    position: absolute;
    z-index: 201;
    bottom: -13px;
    left: 0;
    right: 0;
    margin: auto;
    height: 36px;
    width: 200px;
    color: $c-white;
    background-color: $c-brand;
    border-radius: 19px;
    padding: 0 10px;
    opacity: 0;
    transition: opacity 0.2s;
    cursor: pointer;

    &:hover {
        background-color: darken($c-brand, 10%);
    }
}

.button__label {
    display: inline-block;
    margin-top: 9px;
    height: 32px;
    vertical-align: middle;
}

.button__icon {
    margin-top: 9px;
    float: right;
}

.button-sub {
    height: 34px;
    background-color: $c-white;
    border: 2px solid $c-brand;
    border-radius: 19px;
    z-index: 201;
    color: $c-brand;
    transition: opacity 0.5s;
    opacity: 0.2;
    width: 34px;
    cursor: pointer;

    &:hover {
        background-color: darken($c-white, 10%);
    }

    .button__icon {
        float: none;
        text-align: center;
    }
}

.button-sub--share {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;

    .button__icon {
        float: none;
        text-align: center;
    }
}
