@font-face {
    font-family: 'Guardian Sans';
    font-weight: lighter;
    src: url('../fonts/GdnSanDS2Lig.otf');
}

@font-face {
    font-family: 'Guardian Sans';
    font-weight: normal;
    src: url('../fonts/GdnSanDS3Reg.otf');
}

@font-face {
    font-family: 'Guardian Sans';
    font-weight: bold;
    src: url('../fonts/GdnSanDS5Sem.otf');
}

@font-face {
    font-family: 'Guardian Icons';
    src: url('../fonts/guardianIcons_2014.ttf');
}
