.header {
    position: relative;
    padding-top: 140%;
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-position: center bottom;

    &:after {
        content: '';
        position: absolute;
        top: 40%;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
    }

    @include mq(mobileLandscape) {
        height: 620px;
        margin: 0 auto;
        padding-top: 0;
    }
}

.header__content {
    position: absolute;
    z-index: 2; // To promote above the blur
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.header__headline {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    @include fs-headline();
    color: $c-brand;
}

.header__lead-in {
    @include fs-large();
    display: block;
    color: $c-white;
}

