.header {
    position: relative;
    padding-top: 140%;
    background-color: red;

    @include mq(mobileLandscape) {
        height: 620px;
        margin: 0 auto;
        padding-top: 0;
    }
}

.header__content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}
