.panel--header {
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-position: center bottom;
    max-width: none;
    margin-bottom: 0;

    @include mq(phablet) {
        z-index: 1 !important;
        margin-bottom: -50px;
    }

    @include mq(desktop) {
        padding-bottom: 60%;
        height: 0;
    }

    @include mq(wide) {
        padding-bottom: 50%;
    }

    &:before {
        content: '';
        position: absolute;
        top: 40%;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
        border: 0;
        z-index: 50;
    }
}

.header__chrome {
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
    z-index: 20;
}

.panel--header .button {
    bottom: -22px;

    @include mq(phablet) {
        bottom: 70px;
    }
}

.header__video {
    position: absolute;
    top: -40px;
    bottom: -40px;
    left: -100%;
    right: -100%;
    z-index: 7;
    display: block;
    margin: auto;
    height: auto;
    min-height: 110%;
    min-width: 100%;

    .is-mobile & {
        display: none;
    }
}

.header__guardian-logo {
    position: absolute;
    top: -2px;
    right: 10px;

    @include mq(mobileLandscape) {
        right: 20px;
    }
}
