.panel--video {
    video {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -999px;
        right: -999px;
        bottom: 0;
        margin: auto;
    }

    .panel__paragraph {
        color: $c-white;
        position: absolute;
        padding-top: 34px;
        padding-bottom: 42px;
        bottom: 0px;
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
    }

    .button-sub--share {
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 0;
    }
}

.video__image {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 4;
    background-position: center top;
    background-size: cover;
}

.button-sub--play,
.button-sub--sound {
    position: absolute;
    top: 20px;
    left: 20px;
}

.button-sub--play {
    width: 100px;
    padding: 0 10px;
}

.button-sub--sound {
    .icon {
        display: none;
    }

    .icon--muted {
        display: block;
    }

    &.is-muted {
        .icon {
            display: block;
        }

        .icon--muted {
            display: none;
        }
    }
}

.is-desktop .button-sub--play {
    display: none;
}

.is-mobile .button-sub--mute {
    display: none;
}