.panels {
    overflow: hidden;
}

.panel {
    overflow: visible;
    position: relative;
    background-color: $c-black;
    background-size: cover;
    background-position: center top;
    padding-top: 140%;
    margin-bottom: -10px;

    @include mq(mobileLandscape) {
        height: 610px;
        max-width: 620px;
        margin: 0 auto;
        padding-top: 0;
    }

    @include mq(phablet) {
        margin-bottom: 30px;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 10px $c-black solid;
        z-index: 102;
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0px;
        background-color: #000;
        opacity: .5;
        z-index: 100;
        transition: opacity 0.4s;
    }

    &.is-active {
        &:after {
            opacity: 0;
        }

        .button,
        .button-sub {
            opacity: 1;
        }
    }
}

.panel__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    overflow: hidden;
}

@for $panel from 10*-1 through -1 {
    .panel:nth-of-type(#{abs($panel)}) {
        z-index: $panel + 11;
    }
}

.video-image {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 4;
    background-position: center top;
    background-size: cover;
}

// Specific Panels
.panel__paragraph {
    @include fs-copy();
    padding: 10px;

    @include mq(phablet) {
        padding: 16px 20px;
    }
}

.panel__paragraph__title {
    display: block;
    color: $c-brand;
    font-weight: bold;
}

.panel--last {
    margin-bottom: 12px;
}

// Specifc to Netflix
.panel--intro {
    background-image: url("../images/intro.jpg");
}

.panel--sponsor {
    background-image: url("../images/sponsor.jpg");
}
