.panel--video {
    .panel__paragraph {
        color: $c-white;
        position: absolute;
        padding-top: 22px;
        padding-right: 60px;
        padding-bottom: 42px;
        transition: opacity 0.2s ease-out, transform 0.4s ease-out;
        opacity: 1;
        z-index: 7;
        pointer-events: none;
        transform: translateY(0%);

        .is-mobile & {
            bottom: 0px;
            background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
        }

        .is-desktop & {
            top: 0px;
            background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
        }
    }

    &.has-description .panel__paragraph {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.video__image {
    position: absolute;
    left: -100%;
    right: -100%;
    z-index: 7;
    display: block;
    margin: auto;
    height: 100%;

    .is-desktop & {
        display: none;
    }
}

.video {
    position: absolute;
    top: -100%;
    bottom: -100%;
    left: -100%;
    right: -100%;
    margin: auto;
    min-height: 100%;
    z-index: 5;
}

.button-sub--play,
.button-sub--sound {
    position: absolute;
    left: 20px;
    display: none;
}

.button-sub--play {
    width: 100px;
    padding: 0 10px;
    top: 20px;

    .is-mobile & {
        display: block;
    }
}

.button-sub--sound {
    bottom: 20px;

    .icon {
        display: none;
    }

    .icon--muted {
        display: block;
    }

    .is-muted & {
        .icon {
            display: block;
        }

        .icon--muted {
            display: none;
        }
    }

    .is-desktop & {
        display: block;
    }
}
