.sponsor-tag {
    position: fixed;
    top: 0;
    left: 20px;
    z-index: 100;
}

.sponsor-tag__label {
    color: $c-white;
    background-color: $c-red;
    text-align: center;
    padding: 6px 0;
}

.sponsor-tag__logo {
    width: 100px;
    height: 100px;
    background-color: $c-white;
}

.sponsor-tag__image {
    max-width: 100px;
    max-height: 100px;
}